.tools__container{
    display:flex;
    background-color:rgb(209, 248, 255);
    opacity: 90%;
    border-radius: 1rem;
    height:20.3rem;
    margin-left: 187.5px;
    flex-direction:column ;
    transition: var(--transition);
    border: transparent;
}
.tools__container:hover{
    border: 2px solid rgb(151, 232, 247);
    box-shadow: 0 0 30px rgb(151, 232, 247);
}
#tools{
    margin:0;
    padding-bottom: 20px;
    width:78vw;
    margin-left: 14.37rem;
    padding-top: 2rem;
}
.toolsrow1{
    display: flex;
    flex:1;
    height:50%;
    justify-content: space-around;

    align-items: center;
   

}
.toolsrow2{
    display: flex;
    flex:1;
    height:50%;
    justify-content: space-around;
    padding-top: 0rem;
    align-items: center;
}

.toolsrow1 img{
    height:4.375rem;
    width:4.375rem;
 
}
.toolsrow2 img{
    height:4.375rem;
    width:4.375rem; 
}
.toolstitle{
    display: flex;
    
    justify-content: center;
}
.toolstitle h1{
    font-size: 2rem;
}
h1{
    color:black;
}



/* media queries (medium)*/
@media screen and (max-width:1320px){
    .tools__container{
        height:38vh;
    }
   
        

    
    #tools{
        height:45vh;
        width:100%;
        margin-top: 15vh;
        margin-bottom: 0;
        margin-left: 0;;
        padding-bottom: 0;
    }
}
    


/* media queries (small)*/
@media screen and (max-width:800px){
    .toolsrow1 img{
        height:3.375rem;
        width:3.375rem;
     
    }
    .toolsrow2 img{
        height:3.375rem;
        width:3.375rem; 
    }
}