.contact__container{
    display:flex;
    background-color:white;
    opacity: 90%;
    border-radius: 1rem;
    height:400px;
    flex-direction: column;
   
}
.contact__container2{
    display: flex;
    height:100%;
    align-items:flex-start;
    width:100%;
   padding-left: 5rem;
   padding-right: 5rem;
   gap:1.5rem;
  
   

}

#contact{
    margin:0;
    padding-bottom: 2.5rem;
    width:93.75rem;
    margin-left: 14.375rem;
    margin-top: 1rem;;
    width:78vw;
}
.contacttitle{
    display: flex;
    justify-content: center;
}
.contacttitle h1{
    font-size: 1.5rem;
}
form{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    width:100%;
    align-items: center;
}
input,textarea{
    width:100%;
    padding:1rem;
    border-radius: 0.5rem;
    background:transparent;
    border:1px solid rgb(209, 248, 255);
    resize: none;   
}

.contactform{
    display: flex;
    padding-top: 1rem;
    justify-content:center;
    flex:2;
    
}
.contactemail{
    margin-top: 1rem;
    background:rgb(179, 236, 247);
    display: flex;
    flex:1;
    padding-top: 1rem;
    border:1px solid transparent;
    text-align: center;
    border-radius: 0.5rem;
    padding:1.5rem;
    justify-content:center;
    transition: var(--transition);
    
    
   
}
.contactemail:hover{
    background:transparent;
    border:1px solid aqua;
}
.emailicon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.btnmessage{
    width: max-content;
    display:flex;
    color:var(--color-primary);
    padding:0.75rem 1.2rem;
    border-radius:0.4rem;
    cursor:pointer;
    transition: var(--transition);
    background-color: rgb(179, 236, 247);
    font-weight: bold;
    
    
}
.btnmessage:hover{
    background:transparent;
    border:1px solid aqua;
}
h3{
    font-size: 0.9rem;
}
.contactsentence{
    justify-content: center;
    display: flex;
}



/* media queries (medium)*/
@media screen and (max-width:1400px){
    .contact__container{
        height:68vh;
    }
    
    #contact{
        height:68vh;
        width:100%;
        margin:0;
        
    }
    
}

/* media queries (small)*/
@media screen and (max-width:800px){
    
    .contact__container2{
        display: flex;
        height:100%;
        align-items:flex-start;
        width:100%;
       padding-left: 0rem;
       padding-right: 5rem;
       gap:0.5rem;
      
       
    
    }
    
}