

nav{
    background:var(--color-white);
    padding:0rem 5.1rem;
    display:flex;
    margin-right: 0;
 
    position: fixed;
    top:0;
    z-index: 100;
    transition: .3s ease-in-out;
    opacity: 90%;
    padding-top: 0.5rem;
    white-space: nowrap; 
    width:84vw;
    
    
    
}
.leftnav{
    position: relative;
    align-items: center;
    padding-right: 30%;    
    display:flex;
    gap:1rem;
    padding-left: 22%;

}   
.logo{
    width:5.31rem;
     
}
.rightnav{
    display: flex;
    gap:2rem;
    align-items: center;
    
    
}
.hosam{
    font-size: 1.5rem;
    
}
.hamburger{
    display: none;
    gap:2rem;
    align-items: center;
}






/* media queries (medium)*/
@media screen and (max-width:1400px){
    nav{
       margin-left: 0rem;
       width:100%;
       padding-left: 0;
       
       
    }
    .leftnav{
        padding-right: 10%;
        width: 100%;
        gap:1rem;
        padding-left: 12%;
    
        
    }
    .rightnav{
        width:55%;
        gap:1rem;
    }
   
}
    

/* media queries (small)*/
@media screen and (max-width:800px){
    .rightnav{
        display: none;
    }
    .hamburger{
        display: flex;
        gap:1rem;
       flex-direction: column;
       justify-content: center;
    }
    .hamburgericon{
        cursor: pointer;
        display: flex;
       position: absolute;
       right:0;
       padding-right: 1.5rem;
      
    }

}